@use "../../../styles/abstracts" as abs;

.button {
    @include abs.transition-ease(0.2s);
    width: 100%;
    height: 40px;
    border-radius: abs.$border-radius-md;
    background-color: abs.$color-alt-2;
    color: white;
    border: 1px solid #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;

    // States
    &:hover {
        background-color: lighten(abs.$color-alt-2, 5%);
    }
    &:active {
        background-color: lighten(abs.$color-alt-2, 10%);
    }

    &:disabled {
        color: #ccc;
        &:hover { background-color: abs.$color-alt-2; }
        &:active { background-color: abs.$color-alt-2; }
    }
}