@use "../../styles/abstracts/" as abs;

.modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  position: absolute;
  background-color: #fff;
  border-radius: abs.$border-radius-md;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    padding: .5rem 0;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__body {
    margin-top: .5rem;
    padding: .5rem 0;
  }
}
