@use "../../styles/abstracts" as abs;

.posts_container {
    &__posts {
        padding: 2rem 1rem 0;
        display: flex;
        flex-wrap: wrap;

        &__card {
            width: calc(50% - 8px);
            margin-bottom: 1rem;
        }
    }
}

.mr {
    margin-left: 1rem
}