@mixin no-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 1rem;
}

.comments {
  padding: 1rem 0;

  &__loading {
    @include no-comments;
  }

  &__none {
    @include no-comments;
  }
}
