$border-radius-sm: 0.125rem;
$border-radius-md: 0.25rem;
$border-radius-lg: 0.375rem;
$border-radius-xl: 0.5rem;
$border-radius-2xl: 0.75rem;
$border-radius-3xl: 1rem;
$border-radius-4xl: 1.5rem;
$border-radius-full: 9999px;