@use "sass:color";

// Text colors
$text-base: #000;
$text-primary: color.adjust($text-base, $alpha: -.13);
$text-secondary: color.adjust($text-base, $alpha: -.4);


$color-primary: #DCD7BB; // background
$color-secondary: #605955; // background
$color-alt-1: #E1D2B2;
$color-background: lighten($color-primary, 15%)



