@use "../../../styles/abstracts" as abs;

.card {
  padding: 1rem;
  box-shadow: abs.$shadow-xs;
  width: fit-content;
  border-radius: abs.$border-radius-sm;

  &__title {
    margin: .5rem 0 1rem;
  }

  &__body {
    // 
  }
}
