@use "../../styles/abstracts" as abs;

.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 80vw;
        max-width: 800px;
        background-color: white;
        border-radius: abs.$border-radius-md;
    }
}