@use "../../../styles/abstracts/" as abs;

.comment {
    // width: fit-content;
    padding: 8px;
    border-radius: abs.$border-radius-lg;
    // background-color: rgba(224, 204, 167, .2);
    background-color: abs.$color-layer-1;

    &__name_and_time {
        display: flex;
        align-items: flex-end;
    }

    &__name {
        font-size: 17px;
        font-weight: 500;
        margin-right: .5rem;
    }

    &__time {
        color: abs.$text-secondary;
        font-style: italic;
        font-size: 14px;
    }

    &__text {

    }
}