@use "../../../styles/abstracts" as abs;

.container {
  width: 100%;
  height: 100%;

  &__title_input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &__label {
      margin-right: .5rem;
      font-weight: 500;
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
  }
}

.preview {
  margin-top: 2rem;

  h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: .5rem;
  }
}