.editable {
    /*  */
    cursor: pointer;
    transition: background-color 0.3s;
    /* padding: 4px; */
    /* outline: #dd9 solid 3px; */
}

.editable:hover {
    background-color: #dd9;
}

 .editable img:hover {
    outline: #dd9 solid 3px;
}