@use "../../../styles/abstracts" as abs;

$color-active-link: darken(abs.$color-alt-2, 15%);
$color-hover-link: lighten($color-active-link, 8%);

$color-gradient-start: lighten(abs.$color-alt-3, 17.5%);
$color-gradient-end: lighten(abs.$color-alt-3, 19%);

@mixin inactive-link-styles {
  @include abs.transition-ease(0.2s);
  padding: 4px 12px;
  font-weight: 500;
  height: 32px;
  position: relative;

  &:visited {
    color: initial;
  }

  &:hover {
    color: $color-hover-link;
  }
}

.nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: linear-gradient(
    90deg,
    $color-gradient-start 50%,
    $color-gradient-end 100%
  );
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 16px 16px;
  box-shadow: abs.$shadow-xs;

  &__subscribe_btn {
    @include inactive-link-styles;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 2px;
  }

  a {
    @include inactive-link-styles;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-active-link;

      &:visited {
        color: $color-hover-link;
      }

      &::after {
        content: "";
        height: 1px;
        width: 24px;
        background-color: $color-hover-link;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__logo {
    margin-right: 2rem;
  }
}
