@use "../../../styles/abstracts" as abs;

$color-active-link: abs.$color-alt-2;

.nav {
  position: fixed;
  top: 0;
  z-index: 1000000;
  background-color: abs.$color-background;
  height: 72px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 1rem;
  // border-bottom: 1px solid lighten(abs.$color-primary, 5%);
  box-shadow: abs.$shadow-sm;

  a {
    @include abs.transition-ease(0.2s);
    padding: 4px 12px;

    &.active {
      color: $color-active-link;
      border-bottom: 1px solid $color-active-link;

      &:visited {
        color: $color-active-link;
      }
    }

    &:visited {
      color: initial;
    }

    &:hover {
      color: abs.$color-alt-4;
    }
  }

  &__logo {
    margin-right: 3rem;
  }

  &__link_active {
    border: 1px solid red;
  }
}
