@use "../../../styles/abstracts" as abs;

.nav {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid abs.$color-secondary;

    a {
        padding: 4px 12px;

        &:visited {
            color: initial;
        }
    }

    &__logo {
        margin-right: 3rem;
    }
}