@use "../../styles/abstracts/" as abs;

.comment_input {
  margin-top: 2.5rem;

  textarea {
    @include abs.transition-ease(0.2s);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #a9a9a9;
    border-radius: abs.$border-radius-md;
    padding: 6px 8px;

    &:focus-visible {
      outline: none;
      border-color: #212121;
    }
  }

  &__submit_btn {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
