.live-blog-post {
    /* padding-top: 1rem !important; */
    /* border: 1px solid #cecece; */
    width: 100% !important;
    padding-bottom: 2rem;
}

.live-blog-post h1 {
    font-size: 48.83px !important;
}

.live-blog-post h2 {
    font-size: 39.06px !important;
}

.live-blog-post h3 {
    font-size: 31.25px !important;
}

.live-blog-post h4 {
    font-size: 25px !important;
}

.live-blog-post h5 {
    font-size: 20px !important;
}

.live-blog-post h6 {
    font-size: 18px !important;
}

.live-blog-post p {
    font-size: 16px !important;
    margin-bottom: 1rem !important;
}

/* .live-blog-post img {
    
} */

.live-blog-post :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}
.live-blog-post h1 {
    text-align: center;
}

.live-blog-post :is(ul, ol) {
    margin-bottom: 1rem !important;
    padding-left: .5rem;
}

.live-blog-post div.spacer-sm {
    height: 8px;
    border: 1px solid #cecece;
    /* background-color: rgba(50, 50, 50, 0.2) */
}

.live-blog-post div.spacer-lg {
    height: 16px;
    border: 1px solid #cecece;
    /* background-color: rgba(50, 50, 50, 0.2) */
}

:is(h2, h3, h4, h5) + :is(ul, ol) {
    margin-top: -.5rem;
}

/* .live-blog-post ol li {
    
} */

/* .live-blog-post ul li {
    
} */


/* if ul or ol follows an h2, h3, h4, or h5 tag, margin-bottom on the heading tag should be 0.5rem instead of 1rem */



