.live-blog-post {
    border: 1px solid #cecece;
}

.live-blog-post h1 {
    font-size: 36px;
}

.live-blog-post h2 {
    font-size: 33px;
}

.live-blog-post h3 {
    font-size: 30px;
}

.live-blog-post h4 {
    font-size: 26px;
}

.live-blog-post h5 {
    font-size: 22px;
}

.live-blog-post h6 {
    font-size: 18px;
}

.live-blog-post p {
    font-size: 16px;
}