@tailwind base;

@layer base {
    body { @apply text-slate-700; }
    p { @apply text-slate-700; }
    h1 { @apply text-slate-700; }
    h2 { @apply text-slate-700; }
    h3 { @apply text-slate-700; }
    h4 {  @apply text-slate-700; }
    h5 { @apply text-slate-700; }
    h6 { @apply text-slate-700; }
}

@tailwind components;
@tailwind utilities;


/* MARKDOWN EDITOR STYLE OVERRIDES */
.tme-container {
    border-radius: 4px;
}
.tme-menu {
    height: 50px;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
     /* slate-100 */
    background-color: rgb(241 245 249) !important; 

    /* slate-300 */
    border: 1px solid rgb(203 213 225) !important;
}
.tme-container .tme-menu .right {
    display: none !important;
}
.tme-container .tme-menu ul .tme-dropdown .tme-dropdown-arrow {
    width: 20px !important;
    display: flex !important;
    justify-content: center !important;
    transition-duration: 0.3s;
}
.tme-container .tme-textarea:focus-visible {
    outline: 0;
}
.tme-container .tme-dropdown {
    transition-duration: 0.3s;
}

/* MARKDOWN PREVIEW STYLE OVERRIDES */
.post-preview :is(h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote) {
    margin: .75rem 0;
}

/* FLICKETY OVERRIDES */
.flickity-enabled:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.flickity-button:focus-visible {
    outline: none;
    box-shadow: none !important;
  }

.flickity-button {
    position: absolute !important;
}

.flickity-prev-next-button {
    width: 60px;
    height: 60px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: #424242;
  }
  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }

.is-selected {
    /* border: 1px solid red !important; */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08)) !important;
    /* filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)) !important; */
}