@tailwind base;

@layer base {
    body { @apply text-slate-800; }
    p { @apply text-slate-800; }
    h1 { @apply text-slate-800; }
    h2 { @apply text-slate-800; }
    h3 { @apply text-slate-800; }
    h4 {  @apply text-slate-800; }
    h5 { @apply text-slate-800; }
    h6 { @apply text-slate-800; }
}

@tailwind components;
@tailwind utilities;


/* MARKDOWN EDITOR STYLE OVERRIDES */
.tme-container {
    border-radius: 4px;
}
.tme-menu {
    height: 50px;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
     /* slate-100 */
    background-color: rgb(241 245 249) !important; 

    /* slate-300 */
    border: 1px solid rgb(203 213 225) !important;
}
.tme-container .tme-menu .right {
    display: none !important;
}
.tme-container .tme-menu ul .tme-dropdown .tme-dropdown-arrow {
    width: 20px !important;
    display: flex !important;
    justify-content: center !important;
    transition-duration: 0.3s;
}
.tme-container .tme-textarea:focus-visible {
    outline: 0;
}
.tme-container .tme-dropdown {
    transition-duration: 0.3s;
}